body {
    font-family: Arial, sans-serif;
    background-color: #40e068;
    margin: 0;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.titulo {
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 100px;
    margin-left: 5px;
    position: absolute;
    top: 25px;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    margin: 40px;
    autobox-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    bottom: 50px;
    s
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input,
select {
    padding: 8px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #1976d2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #1565c0;
}

.hidden {
    display: none;
}